:root {
  --Dark-cyan: hsl(185, 75%, 39%);
  --Very-dark-desaturated-blue: hsl(229, 23%, 23%);
  --Dark-grayish-blue: hsl(227, 10%, 46%);
  --font-family-kumbh: "Kumbh Sans", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family-kumbh);
  font-size: 15px;
  font-weight: 400;
  background-color: #fff;
  background-color: var(--Dark-cyan);
}

.container {
  width: 100%;
  height: calc(100vh - 1.5rem);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  /* overflow: hidden; */
}

.top-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 50%;
  transform: rotate(-180deg);
  background: url("images/bg-pattern-top.svg") no-repeat;
}

.bottom-img {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 50%;
  /* transform: rotate(-180deg); */
  background: url("images/bg-pattern-bottom.svg") no-repeat;
}

.card {
  background-color: #fff;
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
}

.card-img {
  position: absolute;
  top: 36%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5px;
  background-color: #fff;
  border-radius: 50%;
  overflow: hidden;
}

.card-img img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.card-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4.5rem 0 0;
  color: var(--Dark-grayish-blue);
}

.ver-dark {
  color: var(--Very-dark-desaturated-blue);
  font-size: 1.3rem;
  font-weight: bold;
}

.card-details h1 {
  margin-bottom: 0.8rem;
}
.card-details h1 span {
  font-size: 1.4rem;
  font-weight: normal;
  color: var(--Dark-grayish-blue);
  display: inline-block;
  padding-left: 0.5rem;
}

.stats {
  list-style: none;
  width: 100%;
  margin-top: 2rem;
  padding: 1rem 0;
  border-top: 1px solid hsl(227deg 3% 88%);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.stats li span {
  display: block;
  margin-top: 0.5rem;
}

.stats li span:first-child {
  text-align: center;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 93%, 16%);
}
